/*
 *Name: Will Lance
 *UnityID: wjlance
 *Date: 11/18/22
 *Assignment: Independent Assignment 5
 *Description: Create a website about yourself using HTML and CSS
 */
 
#background-color {
	
    background-color: #cbf0cb;
	
}

.table-border {
    
	border: 2px solid #e95419;
	
}

.image-border {
	
	border: 2px solid #6aa84f;
	max-height: 250px;
	max-width: 200px;
	
}